.c-avatar {
    background-color: $haze-300;
    border-radius: 100%;
    display: block;
    height: 40px;
    position: relative;
    text-align: center;
    width: 40px;


    &::before {
        font-weight: $font-weight-semibold;
        line-height: 24px;
        left: 0;
        margin-top: -12px;
        position: absolute;
        top: 50%;
        width: 100%;
        z-index: 1;
    }

    &:not(.icon)::before {
        content: attr(data-initial);
    }

    > img {
        border-radius: 100%;
        z-index: 2;
    }
}


.c-avatar--entity {
    border-radius: $base-radius;

    > img {
        border-radius: $base-radius;
        z-index: 2;
    }
}



.c-avatar--24 {
    height: 24px;
    width: 24px;

    &::before {
        font-size: 12px;
    }
}


.c-avatar--32 {
    height: 32px;
    width: 32px;

    &::before {
        font-size: 14px;
    }
}


.c-avatar--40 {
    height: 40px;
    width: 40px;

    &::before {
        font-size: 16px;
    }
}

.c-avatar--48 {
    height: 48px;
    width: 48px;

    &::before {
        font-size: 20px;
    }
}


.c-avatar--64 {
    height: 64px;
    width: 64px;

    &::before {
        font-size: 28px;
    }
}
