.c-header {
    background-color: $white;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    z-index: $z-index-toolbar;
    @extend .u-shadow-1dp;


    ul, ol {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .o-menu > li {
        > a:not(.c-btn) {
            color: $font-base-color;
        }

        &.is--active > a:not(.c-btn) {
            color: $color-primary;
        }
    }
}
