.c-rating {
    color: $haze-300;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    position: relative;
    vertical-align: top;
    white-space: nowrap;

    .icon {
        display: inline-block;
        font-size: 18px;
        vertical-align: top;

        &,
        &:before {
            height: $font-base-height;
            line-height: $font-base-height;
        }
    }
}

    .c-rating--sm {
        .icon {
            font-size: 14px;
        }
    }

    .c-rating__value {
        color: $rating-color-active;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
    }
