h1 {
    font-size: $font-1-size;
    line-height: $font-1-height;
}
h2 {
    font-size: $font-2-size;
    line-height: $font-2-height;
}
h3 {
    font-size: $font-3-size;
    line-height: $font-3-height;
}
h4 {
    font-size: $font-4-size;
    line-height: $font-4-height;
}
h5 {
    font-size: $font-5-size;
    line-height: $font-5-height;
}
h6 {
    font-size: $font-6-size;
    line-height: $font-6-height;
}

h1, h2, h3, h4, h5, h6 {
    color: $font-heading-color;
    font-weight: $font-weight-semibold;
}
